version: '3.8'
services:
  app:
    build: .
    container_name: monitor_integracion
    ports:
      - "8501:8501"
    volumes:
      - .:/app
    command: streamlit run dashboard.py --server.address=0.0.0.0
